<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.niptictfeedback">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_feedback"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_feedback"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".NewInfoActivity"></activity>
        <activity android:name=".HomeAdmin" />
        <activity android:name=".AddNewsActivity" />
        <activity android:name=".RegisterActivity"></activity>
        <activity android:name=".LoginActivity" />
        <activity android:name=".AppActivity"></activity>
        <activity android:name=".EditProfileInforActivity"

           ></activity>
        <activity android:name=".NewsAdminActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>